body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(217, 224, 224);;
}
fieldset{
    width: 50%;
    margin-left: 290px;
text-align: center;
}
legend{
    text-align: center;
}
form{

}
input{
    padding: 10px;
    margin: 10px;
}
button{
    border: none;
    background-color: rgb(71, 63, 63);
    width: 150px;
    height: 50px;
    color: cornsilk;

}
header nav ul li{
    display: inline;
    margin: 8px;
    background: black;
    color: aliceblue;
      
  }
  header nav ul li a{
    color: aliceblue;;
    text-decoration: none;
  }
  table{
    border: 1px solid rgb(163, 128, 128);
    margin-left: 255px;
    text-align: center;}
    
th,td{
    border:1px solid rgb(48, 51, 59);